<!DOCTYPE html>
<html>
<head>
    <title>Groupie Tracker</title>
    <link rel="icon" type="image/png" href="static/Images/iconb0.png">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- make it responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<header>
   <div class="topleft">
    <div class="input-container">
      <form action="/search" method="GET" >
       <input type="text" id="searchInput" name="text" class="SearchInput" placeholder="Search something..." list="artistData" autocomplete="off">
       <svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24" class="icon"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <rect fill="white" height="24" width="24"></rect> <path fill="" d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM9 11.5C9 10.1193 10.1193 9 11.5 9C12.8807 9 14 10.1193 14 11.5C14 12.8807 12.8807 14 11.5 14C10.1193 14 9 12.8807 9 11.5ZM11.5 7C9.01472 7 7 9.01472 7 11.5C7 13.9853 9.01472 16 11.5 16C12.3805 16 13.202 15.7471 13.8957 15.31L15.2929 16.7071C15.6834 17.0976 16.3166 17.0976 16.7071 16.7071C17.0976 16.3166 17.0976 15.6834 16.7071 15.2929L15.31 13.8957C15.7471 13.202 16 12.3805 16 11.5C16 9.01472 13.9853 7 11.5 7Z" clip-rule="evenodd" fill-rule="evenodd"></path> </g></svg>
       <datalist id="artistData">
        {{range .}}
        <optgroup  label="Artist/Band Name">
            <option style="font-weight: bolder;" value="{{.Name}}">{{.Name}} - Artist/Band Name</option>
        </optgroup>
        <optgroup label="Members">
            {{range .Members}}
            <option value="{{.}}">{{.}} - Member</option>
            {{end}}
        </optgroup>
        <optgroup label="Locations">
            {{range $loc, $Dates := .DatesLocations}}
            <optgroup label="Location: {{$loc}}">
              <option value="{{$loc}}">{{$loc}} - Location</option>
                {{range $date := $Dates}}
                <option value="{{$date}}">{{$date}} - Concert Date</option>
                {{end}}
            </optgroup>
            {{end}}
        </optgroup>
        <optgroup label="Additional Information">
            <option value="{{.CreationDate}}">
                {{.CreationDate}} - Creation Date
            </option>
            <option value="{{.FirstAlbum}}">{{.FirstAlbum}} - First Album</option>
        </optgroup>
        {{end}}
    </datalist>
    </form>
  </div>
  </div>
  <h1 class="title glow-effect">GROUPIE-TRACKER</h1> 
</header>
    <div class="container">
        {{range .}}
        <a class="music-card " href="/details?id={{.ID}}">
            <div class="ImagedivPlayer">
                <img class="Image" src="{{ .Image }}" alt="Image">
            </div>         
            <div class='info'>
              <h2 class='artist'>{{.Name}}</h2>
              <div class="creation-date"><strong>Creation Date:</strong> {{.CreationDate}}</div>
              <div class="first-album"><strong>First Album:</strong> {{.FirstAlbum}}</div>
              <form class= "cardEnd" action="/details" method="GET">
                <input type="hidden" name="id" value="{{.ID}}">
                <input class="more" type="submit" value="More...">
            </form>
            </div>
        </a>
          {{end}}
          </div>
    <!-- <script>
      $(document).ready(function() {
  $('#searchInput').on('input', function() {
    var searchItem = $(this).val().toLowerCase();
    
    $('.music-card').each(function() {
      var cardText = $(this).text().toLowerCase();
      if (cardText.indexOf(searchItem) === -1) {
        $(this).addClass('hidden');
      } else {
        $(this).removeClass('hidden');
      }
    });
  });
});
    </script> -->
</body>
</html>